body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #fce4ec, #e3f2fd, #f3e5f5);
    margin: 0;
}

.contenedor {
    max-width: 900px;
    margin: auto;
    padding: 25px;
}

/* TÍTULO */
h1 {
    text-align: center;
    background-color: #f8bbd0;
    color: #880e4f;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}

/* BOTONES */
.botones {
    text-align: center;
    margin: 30px 0;
}

button {
    background: linear-gradient(135deg, #f48fb1, #ce93d8);
    border: none;
    color: white;
    padding: 15px 30px;
    margin: 10px;
    font-size: 17px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 6px 14px rgba(0,0,0,0.25);
    transition: all 0.3s;
}

button:hover {
    transform: scale(1.08);
}

/* CONTENIDO */
.contenido {
    background-color: white;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.2);
}

/* TEXTO */
h2 {
    color: #ad1457;
}

ul {
    margin-top: 20px;
}

li {
    margin-bottom: 12px;
}

/* IMÁGENES */
img {
    display: block;
    margin: 25px auto;
    width: 300px;
    border-radius: 25px;
    box-shadow: 0 6px 14px rgba(0,0,0,0.25);
}

/* PIE DE PÁGINA */
footer {
    margin-top: 30px;
    text-align: center;
    background-color: #f8bbd0;
    color: #6a1b9a;
    padding: 18px;
    border-radius: 25px 25px 0 0;
}